<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Document</title>
</head>
  <body>


        <style>

        </style>

    <div class="content" role="main">
      <a routerLink ="/form">Form</a>
      <router-outlet></router-outlet>
    </div>

    <div class="content" role="main">
      <a routerLink ="/blog">Blog</a>
      <router-outlet></router-outlet>
    </div>

  </body>
</html>

